
  

<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Question<br>
    <%= f.text_area :question%>
  </div>
  <div class="field">
    OptionA:<br>
    <%= f.text_area :optiona %>
  </div>
  <div class="field">
    OptionB:<br>
    <%= f.text_area :optionb %>
  </div>
  <div class="field">
    OptionC:<br>
    <%= f.text_area :optionc %>
  </div>
  <div class="field">
    OptionD:<br>
    <%= f.text_area :optiond %>
  </div>
  <div class="field">
    Correct Option:<br>
    <%= f.text_area :correct %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

