<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @quiz.question %>
</p>

<p>
  <strong>Optiona:</strong>
  <%= @quiz.optiona %>
</p>

<p>
  <strong>Optionb:</strong>
  <%= @quiz.optionb %>
</p>

<p>
  <strong>Optionc:</strong>
  <%= @quiz.optionc %>
</p>

<p>
  <strong>Optiond:</strong>
  <%= @quiz.optiond %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @quiz.correct %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
