


<% if !@error.present? && @quizcount!=@index.to_i %>

$(".question<%=@index.to_i%>").slideUp("slow")
$(".question<%=@index.to_i+1%>").slideDown("slow")
alert("<%=@output%>")

<%elsif !@error.present? && @quizcount==@index.to_i %>

$(".question<%=@index.to_i%>").slideUp("slow")
$(".gameright").html("<div class='completed'>You have completed the quiz game.</div>")



<%else%>

alert("<%=@error%>")

<%end%>
  